<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6 mt-5 mx-auto text-light">
      <h2 class="mb-4 px-3 border-start border-5 border-warning">お問い合わせフォーム</h2>
      <p class="mb-5">
        当サイトに対するご意見、質問、要望などございましたら、是非お問い合わせください。
        今後のご参考にさせていただきたいと思っております。
      </p>
      
      <!--問い合わせフォーム-->
      <%= form_with model: @contact_new do |f| %>
        <div class="mb-4">
          <%= f.label :classification, class: "form-label" %><br>
          <%= f.radio_button :classification, :opinion %>
          <%= f.label "意見", class: "form-label", class: "me-4" %>
          <%= f.radio_button :classification, :question %>
          <%= f.label "質問", class: "form-label", class: "me-4" %>
          <%= f.radio_button :classification, :contact_request %>
          <%= f.label "要望", class: "form-label" %>
        </div>
        
        <div class="mb-5">
          <%= f.label :message, class: "form-label" %><br>
          <%= f.text_area :message, class: "form-control", rows: 5, placeholder: "500文字以内", 
              maxlength: 500, required: true %>
        </div>
        
        <div class="text-center">
          <%= f.submit "送信する", class: "col-6 btn btn-outline-warning rounded-pill border-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--画面下部メニューバー-->
<%= render "layouts/bottom_navbar", bottom_nav: "contact" %>