<% posts.each do |post| %>
  <div class="card mb-4 text-light border-3 border-secondary">
    <div class="card-header ps-2">
      <div class="row">
        <div class="col-8">
          <%= image_tag post.user.get_profile_image(30,30), class: "rounded-circle" %>
          <span class="ms-2"><%= post.user.user_name %></span>
        </div>
        <div class="col-4 text-end text-secondary"><%= time_ago_in_words(post.created_at) %>前</div>
      </div>
    </div>
    <div class="card-body pt-2">
      <div><%= post.message %></div>
      <% if post.post_image.attached? %>
        <%= image_tag post.post_image, class: "mt-3 rounded mx-auto d-block post-image" %>
      <% end %>
      
      <% if view == "xxxxxxxx" %>
        <div class="mt-3">
          <%= form_with model: @review do |f| %>
            <%= post.review_item %>
            <%= f.hidden_field :rate, onchange: "changeRate()" %>
            <span class="ms-2" id="rate_<%= post.id %>"></span>
          <% end %>
        </div>
      <% end %>
      
      <% if view == "review" %>
        <div class="mt-3">
          <%= form_with model: @review, url: post_reviews_path(post), method: :post, local: false do |f| %>
            <%= post.review_item %>
            <%= f.hidden_field :rate %>
            <span class="ms-2" id="rate_<%= post.id %>"></span>
            <%= f.submit "確定", class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <script>
    $(document).on('turbolinks:load', function() {
      // ブラウザバックで星が増え続ける不具合対策
      $('#rate_<%= post.id %>').empty();
      
      let elem = document.querySelector('#rate_<%= post.id %>');
      // 星画像などのオプション
      let opt = {  
        starOff:  "<%= asset_path('star-off.png') %>",
        starOn : "<%= asset_path('star-on.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        
        // Reviewテーブルに該当データが存在しているか判定
        <% if post.reviewed_by?(current_user) %>
          // 存在していたらrateを表示
          score: "<%= post.get_rate(current_user).rate %>", 
          scoreName: "review[rate]",
        <% else %>
          // reviewモデルのrateカラムへ値を保存
          scoreName: "review[rate]",
        <% end %>
        
        // 星半分評価の入力を許可
        half: true,
       };
      raty(elem,opt);
    });
    
    function changeRate(){
      $('#rate_<%= post.id %>').empty();
    }
  </script>
<% end %>