<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6 mx-auto text-light">
      <%= render "post_top_navbar" %>
      
      <p class="mb-3">質問、悩みなど何でも投稿して下さい</p>
      <!--新規投稿フォーム-->
      <%= form_with model: @post do |f| %>
        <div class="mb-5">
          <%= f.text_area :message, class: "form-control", rows: 6, placeholder: "500文字以内", 
              maxlength: 500, required: true %>
        </div>
        
        <div class="mb-5">
          <%= f.label :post_image, class: "form-label" %>
          <%= f.file_field :post_image, class: "mt-2 form-control", accept: "image/*" %>
        </div>
        
        <div class="text-center">
          <%= f.submit "投稿する", class: "col-6 mt-5 btn btn-outline-warning rounded-pill border-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>