<div class="container">
  <div class="row">
    <div class="col-sm-11 col-md-7 col-lg-5 mx-auto mt-5 px-4 text-light">
      <h2 class="mb-4 px-3 border-start border-5 border-warning">管理者ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-12 mt-2 mb-4", required: true %>
        </div>
      
        <div class="field">
          <%= f.label "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "col-12 mt-2 mb-3", 
            placeholder: "8桁以上 16桁以下の英数字", required: true %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label "ログイン状態を保存する" %>
          </div>
        <% end %>
      
        <div class="actions">
          <%= f.submit "ログイン", class: "col-12 mt-4 btn btn-outline-warning rounded-pill border-3" %>
        </div>
      <% end %>
      
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>