<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto mt-2 pt-4 text-light">
      <h3 class="mb-4 pb-1">
        <%= link_to admin_users_path, class: "link-warning text-decoration-none h2" do %>
          <i class="me-3 fa-solid fa-arrow-left"></i>
        <% end %>
        レベル設定編集
      </h3>
      
      <%= form_with model: @post_new do |f| %>
      
      <% end %>
      
      <table class="table table-borderless admin-table">
        <tr>
          <td class="col-5 admin-td">ユーザー名</td>
          <td class="col-7 admin-td"><%= @user.user_name %></td>
        </tr>
        <tr>
          <td class="admin-td">メールアドレス</td>
          <td class="admin-td"><%= @user.email %></td>
        </tr>
        <tr>
          <td class="admin-td">投稿通報数</td>
          <td class="admin-td"><%= @user.post_reports.count %>回</td>
        </tr>
        <tr>
          <td class="admin-td">レビュー通報数</td>
          <td class="admin-td"><%= @user.review_reports.count %>回</td>
        </tr>
        <tr>
          <td class="admin-td">会員ステータス</td>
          <td class="admin-td">
            <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
              <%= f.select :membership_status, [["入会中", "admission"], ["退会済み", "withdrawal"]], 
                { selected: @user.membership_status }, { class: "px-2 text-center" } %>
              <%= f.submit "更新する", class: "ms-4 px-4 btn btn-sm btn-success rounded-pill" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--画面下部メニューバー-->
<%= render "layouts/bottom_navbar", bottom_nav: "maintenance" %>