<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto mt-2 pt-4 text-light">
      <h3 class="mb-4 pb-1 px-3 border-start border-5 border-warning">お問い合わせ詳細</h3>
      
      <table class="table table-borderless admin-table">
        <tr>
          <td class="col-4 admin-td">ユーザー名</td>
          <td class="col-8 admin-td"><%= @contact.user.user_name %></td>
        </tr>
        <tr>
          <td class="admin-td">区分</td>
          <td class="admin-td"><%= @contact.classification_i18n %></td>
        </tr>
        <tr>
          <td class="admin-td">メッセージ</td>
          <td class="admin-td"><%= @contact.message %></td>
        </tr>
      </table>
      
      <div class="row mt-5">
        <!--通報ステータスが未対応の場合のみ「問題なし」ボタンを表示する-->
        <% if @contact.confirmation_status == "unconfirmed" %>
          <%= link_to "確認完了", admin_contact_path(@contact), method: :patch, 
            class: "col-3 me-4 btn btn-success rounded-pill", :data => {:confirm => '確認ステータスを「確認済み」にしてもよろしいですか？'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--画面下部メニューバー-->
<%= render "layouts/bottom_navbar", bottom_nav: "contact" %>