<span class="ms-2" id="review_rate_<%= review.id %>"></span>

<script>
  $(document).on('turbolinks:load', function() {
    // ブラウザバックで星が増え続ける不具合対策
    $('#review_rate_<%= review.id %>').empty();
    
    $('#review_rate_<%= review.id %>').each(function() {
      let elem = document.querySelector('#review_rate_<%= review.id %>');
      // 星画像などのオプション
      let opt = {  
        starOff:  "<%= asset_path('star-off.png') %>",
        starOn : "<%= asset_path('star-on.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= review.rate %>", 
        readOnly: true,
      };
      raty(elem,opt);
    });
  });
</script>