<button type="button" class="btn btn-sm btn-outline-warning ms-3 rounded-pill border-2" 
  data-bs-toggle="modal" data-bs-target="#reviewModal_<%= post.id %>">
  
  <!--ReviewテーブルにユーザーIDと投稿IDが一致するデータが存在しているか判定-->
  <% if post.reviewed_by?(current_user) %>
    再レビュー
  <% else %>
    レビューする
  <% end %>
</button>

<!--レビュー用モーダル-->
<div class="modal fade" id="reviewModal_<%= post.id %>" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-dark">
      <div class="modal-header border-bottom border-info">
        <div class="container-fluid">
          <div class="row">
            <div class="col-10 ps-5">
              <h1 class="modal-title text-center fs-5" id="reviewModalLabel">レビュー</h1>
            </div>
            <div class="col-2 text-end">
              <button type="button" class="mt-1 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body py-4">
        <%= form_with model: @review, url: post_reviews_path(post), method: :post, local: false do |f| %>
          <%= post.review_item %>
          <%= f.hidden_field :rate, required: true %>
          <span class="post_<%= post.id %>">
            <span class="ms-2" id="save_rate_<%= post.id %>"></span>
          </span>
          <div class="mt-4">
            <%= f.label :comment, class: "form-label" %>
            <%= f.text_area :comment, class: "form-control", rows: 4, placeholder: "100文字以内", 
              maxlength: 100 %>
          </div>
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" class="me-2 btn btn-outline-secondary border-2 modal-cancel-btn" data-bs-dismiss="modal">キャンセル</button>
        <%= f.submit "レビューする", class: "ms-2 btn modal-save-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    // ブラウザバックで星が増え続ける不具合対策
    $('#save_rate_<%= post.id %>').empty();
    
    let elem = document.querySelector('#save_rate_<%= post.id %>');
    // 星画像などのオプション
    let opt = {  
      starOff:  "<%= asset_path('star-off.png') %>",
      starOn : "<%= asset_path('star-on.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      
      // Reviewテーブルに該当データが存在しているか判定
      <% if post.reviewed_by?(current_user) %>
        // 存在していたらrateを表示
        score: "<%= post.get_rate(current_user).rate %>", 
        scoreName: "review[rate]",
      <% else %>
        // reviewモデルのrateカラムへ値を保存
        scoreName: "review[rate]",
      <% end %>
      
      // 星半分評価の入力を許可
      half: true,
     };
    raty(elem,opt);
    
    <% if post.reviewed_by?(current_user) %>
    document.getElementById("review_comment").value = "Hello world";
  <% end %>
  });
  
  function changeRate(){
    $('#rate_<%= post.id %>').empty();
  }
</script>