<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-5 mx-auto mt-5 px-4 text-light">
      <h2 class="mb-4 px-3 border-start border-5 border-warning">新規登録</h2>
    
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        
        <div class="field">
          <%= f.label "ユーザー名" %><br />
          <%= f.text_field :user_name, autofocus: true, class: "col-12 mt-2 mb-4", required: true %>
        </div>
        
        <div class="field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "col-12 mt-2 mb-4", required: true %>
        </div>
      
        <div class="field">
          <%= f.label "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>  桁以上 16桁以下の英数字)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "col-12 mt-2 mb-4", required: true %>
        </div>
      
        <div class="field">
          <%= f.label "パスワードの確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-12 mt-2" %>
        </div>
      
        <div class="actions">
          <%= f.submit "新規登録", class: "col-12 my-5 btn btn-outline-warning rounded-pill border-3" %>
        </div>

      <% end %>
      
      <p class="text-center"><%= link_to "ログイン画面へ", new_user_session_path, class: "link-info" %></p>
    </div>
  </div>
</div>
