<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mt-4 mx-auto pt-2 pb-5 text-light">
      <h2 class="mb-3 px-3 border-start border-5 border-warning">ランキング</h2>
      <p class="mb-0">
        いつも当サイトを盛り上げてくださり、誠にありがとうございます！<br>
        (ランキングは「アクティブレベル (貢献度)」に基づいて行っております)
      </p>
      <div class="mt-1 mb-4">
        <button type="button" class="pt-0 ps-0 btn text-secondary" data-bs-toggle="modal" data-bs-target="#activeLevelModal">
          <span class="px-2 border border-secondary rounded-circle">?</span>
          アクティブレベルとは
        </button>
      </div>
      
      <table class="mb-5 table table-striped table-hover">
        <thead class="table-primary">
          <tr>
            <th class="col-2">ランク</th>
            <th class="col-4 pe-0">ユーザー名</th>
            <th class="px-0 text-center">投稿</th>
            <th class="px-0 text-center">レビュー</th>
            <th class="px-0 text-center">貢献度</th>
          </tr>
        </thead>
        <tbody class="table-light table-group-divider">
          <!--前ユーザーのアクティブレベル-->
          <% previous_level = 0 %>
          <% rank = 0 %>
          
          <% @ranking.each.with_index do |user, i| %>
            <!--前ユーザーのアクティブレベルと異なる場合-->
            <% if user.active_level != previous_level %>
              <!--ランクを繰り上げ、前ユーザーのレベルを更新する-->
              <% rank = i + 1 %>
              <% previous_level = user.active_level %>
            <% end %>
            
            <tr>
              <td>
                <% if rank < 4 %>
                  <i class="h5 fa-solid fa-crown rank_<%= rank %>"></i>
                <% end %>
                
                <%= rank %>位
              </td>
              <td class="pe-0">
                <% if user == current_user %>
                  <%= image_tag user.get_profile_image(30,30), class: "rounded-circle" %>
                  <%= user.user_name %>
                  
                <% else %>
                  <%= link_to new_review_path(user_id: user.id, sort: "created_at desc"), data: {"turbolinks"=>false} do %>
                    <%= image_tag user.get_profile_image(30,30), class: "rounded-circle" %>
                    <%= user.user_name %>
                  <% end %>
                <% end %>
              </td>
              <td class="px-0 text-center"><%= user.posts.count %></td>
              <td class="px-0 text-center"><%= user.reviews.count %></td>
              <td class="px-0 text-center"><%= user.active_level %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--アクティブレベルの説明モーダル-->
<div class="modal fade" id="activeLevelModal" tabindex="-1" aria-labelledby="activeLevelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-dark">
      <div class="modal-header border-bottom border-info">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <h1 class="modal-title text-center fs-5" id="activeLevelLabel">アクティブレベルとは？</h1>
            </div>
            <div class="col-2 text-end">
              <button type="button" class="mt-1 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body py-4">
        対象ユーザーが当サイトをどれくらい利用しているかを表すレベルとなります。<br><br>
        投稿 または レビューを1回行うごとに1経験値を得ることができ、アクティブレベルに対する
        必要経験値に達した際にレベルが上昇します。<br><br>
        <span class="h6">✅ レベルを上げるメリット</span><br>
        ・ランキングの上位に乗ることで、レビューしてもらいやすくなります<br><br>
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" class="btn btn-secondary modal-close-btn" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>   

<!--画面下部メニューバー-->
<%= render "layouts/bottom_navbar", bottom_nav: "ranking" %>