<!--ログイン後のみ表示-->
<% if user_signed_in? || admin_signed_in? %>
  <nav class="col-md-8 mx-auto mb-md-6 py-0 navbar navbar-expand navbar-dark bg-secondary fixed-bottom nav2 rounded-pill">
    <ul class="w-100 navbar-nav nav-justified text-light">

      <!--ユーザーでログイン時のみ表示-->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to mypage_path, class: "py-0 w-100 btn rounded-pill" do %>
            <i class="fa-solid fa-house"></i><Br>
            マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path, class: "py-0 w-100 btn rounded-pill", data: {"turbolinks"=>false} do %>
            <i class="fa-solid fa-rocket"></i><br>
            投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_review_path(sort: "created_at desc"), class: "py-0 w-100 btn rounded-pill", data: {"turbolinks"=>false} do %>
            <%= image_tag "telescope.png", size: "20x20" %><br>
            レビュー
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_contact_path, class: "py-0 w-100 btn rounded-pill" do %>
            <i class="fa-regular fa-envelope"></i><br>
            問い合わせ
          <% end %>
        </li>

      <!--管理者でログイン時のみ表示-->
      <% elsif admin_signed_in? %>
        <li class="nav-item">
          <%= link_to admin_users_path, class: "py-0 w-100 btn rounded-pill" do %>
            <i class="fa-solid fa-users"></i><br>
            ユーザー
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_post_reports_path, class: "py-0 w-100 btn rounded-pill" do %>
            <i class="fa-solid fa-triangle-exclamation"></i><br>
            通報
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>