<header>
  <nav class="navbar navbar-expand-lg navbar-dark px-4 border-bottom border-secondary">
    <a class="navbar-brand text-light" href="/">きらほし</a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
    <!--    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--  <span class="navbar-toggler-icon text-light"></span>-->
    <!--</button>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
              ログアウト
            <% end %>
          </li>
          
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
              ログアウト
            <% end %>
          </li>
          
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
              新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-light" do %>
              ログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_admin_session_path, class: "nav-link text-light" do %>
              管理者ページ
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>